{% extends "ProyectoGymAppAdmin/base.html" %}

{% load static %}

{% block content %}

<style>
        body, .fw-bold{
            font-family: Vegur, 'PT Sans', Verdana, sans-serif;
            font-weight: bolder;
        }

        .card{
            margin-top: 4%;
            margin-bottom: 4%;
            margin-right: auto;
            margin-left: auto;
            box-shadow: 0 0 150px -10px white;
            background-color: rgb(211, 211, 211);
        }

        .card-header{
            background-color: rgb(65, 65, 65);
            color: white;
            text-align: center;
        }

        .form-control{
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            transition: all .3s;
            border-bottom: 2px solid black;
        }
</style>
<body>
  
<div class="w-50 card" >
  <form action="" class="form card-header" method="POST">
    {% csrf_token %}
    <h1 class="mb-4 fw-bold">REGISTRAR CLASE</h1>
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="mb-3">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Guardar" class="btn btn-primary">
  </form>
</div>

</body>
{% endblock %}