{% extends "ProyectoGymApp/base.html" %}

{% load static %}

{% block content %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Formulario de Registro</title>
    <meta name="viewport" content="width=device-width, user-scalable=no. initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0">
    <link href="{% static 'ProyectoGymApp/css/styles.css' %}" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
    <div class="contenedor">
        
    </div>

</body>

</html>


{% endblock %}