{% extends "ProyectoGymAppCliente/base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 card">
      <div class="card-header" style="text-align: center;">
        <h2 class="fw-bold">Evaluación</h2>
      </div>
      <form method="post" style="background-color: white;" class="card-body text-center">
        {% csrf_token %}
        <img src="{{ user.profile.picture.url }}" alt="profile picture" class="mb-4">

        <div class="mb-3">
          <label for="name">Nombre: </label>
          <input type="text" id="name" value="{{ user.first_name.title }}" disabled>
        </div>

        <div class="mb-3">
          <label for="surname">Apellidos: </label>
          <input type="text" id="surname" value="{{ user.last_name.title }}" disabled>
        </div>

        <div class="mb-3">
          <label for="phone">Cel: </label>
          <input type="text" id="phone" value="{{ user.profile.phone_number }}" disabled>
        </div>

        <div class="mb-3">
          <label for="email">Email: </label>
          <input type="text" id="email" value="{{ user.email }}" disabled>
        </div>

        <div class="mb-3">
          {{ form.height.label }}
          {{ form.height }}
        </div>

        <div class="mb-3">
          {{ form.weight.label }}
          {{ form.weight }}
        </div>

        <div class="mb-3">
          {{ form.experience.label }}
          {{ form.experience }}
        </div>

        <div class="mb-3">
          {{ form.objective.label }}
          {{ form.objective }}
        </div>

        <div class="mb-3">
          {{ form.duration.label }}
          {{ form.duration }}
        </div>

        <input type="submit" value="Guardar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>


{% endblock %}